@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http



    


<div class="mx-auto" style="width: 200px;">
    <img src="/assets/logos/sm-logo.svg" />
</div>

<br />

<div class="mx-auto" style="width: 210px;">
    <button class="mdc-fab mdc-fab--extended my-5" @onclick="NavigateToShop">
        <div class="mdc-fab__ripple"></div>
        <span class="material-icons mdc-fab__icon">local_mall</span>
        <span class="mdc-fab__label">Start Shopping</span>
    </button>
</div>

<br />

<SurveyPrompt Title="Is there a product you can't find?" />

@code {
    public void NavigateToShop()
    {
        NavigationManager.NavigateTo("shop");
    }
}